_build/
build/
dist/
.destdir/
.flatpak-builder/
.flatpak-builder-build/
.flatpak-repo/
.mo
__pycache__/
node_modules/

#snapcraft specific ignores
/parts/
/stage/
/prime/

*.snap

.snapcraft
__pycache__
*.pyc
*_source.tar.bz2
snap/.snapcraft
